body {
    background-color: #000;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.world {
    background-color: #0f0f0f;
}

div.player {
    z-index: 0;
}

div.enemy {
    z-index: 0;
}

div.enemy .sprite {
    scale: 2;

    left: -0.5em;
}

/** Health Bar **/
div.health::before {
    position: absolute;
    
    z-index: -1;

    width: 3em;
    height: 0.75em;

    border-radius: 4.3px;
    
    content: '';
    background: #4e1212;
}

div.health {
    position: relative;
    top: -1.2em;
    left: 0em;

    width: 3em;
    height: 0.75em;

    opacity: 1.00;
    border-radius: 4.3px;
    
    background-color: #cf2626;
}